root = true

[*]
indent_style = space
indent_size = 4
trim_trailing_whitespace = false
insert_final_newline = false

[*.{py,sh,editorconfig}]
trim_trailing_whitespace = true
insert_final_newline = true

[*.{xml,sh,txt,launch}]
indent_size = 2
