<launch>
  <group ns="$(optenv ROBOT_NAME pi_puck)">
    <param name="robot_description" textfile="$(find pi_puck_driver)/urdf/pi_puck_urdf.xml"/>
    <param name="tf_prefix" value="$(optenv ROBOT_NAME pi_puck)"/>
    <group ns="navigation">
      <node name="motors" pkg="pi_puck_driver" type="motor_server.py" />
      <node name="base_controller" pkg="pi_puck_driver" type="base_controller.py" />
      <group ns="proximity">
        <node name="short_range_ir_server" pkg="pi_puck_driver" type="short_range_ir_server.py">
          <param name="sensor" value="0" />
        </node>
        <node name="long_range_ir_server_0" pkg="pi_puck_driver" type="long_range_ir_server.py">
          <param name="sensor" value="0" />
        </node>
        <node name="long_range_ir_server_1" pkg="pi_puck_driver" type="long_range_ir_server.py">
          <param name="sensor" value="1" />
        </node>
        <node name="long_range_ir_server_2" pkg="pi_puck_driver" type="long_range_ir_server.py">
          <param name="sensor" value="2" />
        </node>
        <node name="long_range_ir_server_3" pkg="pi_puck_driver" type="long_range_ir_server.py">
          <param name="sensor" value="3" />
        </node>
        <node name="long_range_ir_server_4" pkg="pi_puck_driver" type="long_range_ir_server.py">
          <param name="sensor" value="4" />
        </node>
        <node name="long_range_ir_server_5" pkg="pi_puck_driver" type="long_range_ir_server.py">
          <param name="sensor" value="5" />
        </node>
      </group>
      <group ns="spatial">
        <node name="imu" pkg="pi_puck_driver" type="imu_server.py" />
      </group>
    </group>
    <node name="power" pkg="pi_puck_driver" type="power_server.py" />
  </group>
</launch>
