<launch>
  <arg name="robot_name" default="$(optenv ROBOT_NAME pi_puck)" />

  <group ns="$(arg robot_name)">
    <param name="tf_prefix" value="$(arg robot_name)"/>
    <group ns="interop">
      <node name="range_to_laser" pkg="pi_puck_driver" type="range_to_laser.py">
        <param name="robot_root" value="/$(arg robot_name)/" />
        <param name="publish_separate_topics" value="true" />
        <param name="publish_combined_topic" value="false" />
      </node>
      <node name="range_merger" pkg="pi_puck_driver" type="range_merger.py">
        <param name="robot_root" value="/$(arg robot_name)/" />
        <param name="rate" value="4" />
        <param name="scan_max_influence" value="0.17453292519943295" /> <!-- 10 degrees-->
      </node>
    </group>
  </group>
</launch>
