<launch>
  <arg name="robot_name" default="$(optenv ROBOT_NAME pi_puck)" />

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
      <remap to="$(arg robot_name)/cmd_vel" from="/cmd_vel" />
      <rosparam file="nav/costmap_common_params.yaml" command="load" ns="global_costmap" />
      <rosparam file="nav/costmap_common_params.yaml" command="load" ns="local_costmap" />
      <rosparam file="nav/local_costmap_params.yaml" command="load" />
      <rosparam file="nav/global_costmap_params.yaml" command="load" />
      <rosparam file="nav/base_local_planner_params.yaml" command="load" />
   </node>

</launch>
