<launch>
  <arg name="robot_name" default="$(optenv ROBOT_NAME pi_puck)" />
  <arg name="config_selection" default="" />

  <group ns="$(arg robot_name)">

    <node pkg="move_base" type="move_base" respawn="false" name="move_base">
        <remap to="navigation/cmd_vel" from="cmd_vel" />
        <rosparam file="nav/$(arg config_selection)costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="nav/$(arg config_selection)costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="nav/$(arg config_selection)local_costmap_params.yaml" command="load" />
        <rosparam file="nav/$(arg config_selection)global_costmap_params.yaml" command="load" />
        <rosparam file="nav/$(arg config_selection)base_local_planner_params.yaml" command="load" />
        <param name="base_global_planner" value="navfn/NavfnROS" />
    </node>

   </group>

</launch>
