<launch>
  <arg name="robot_name" default="$(optenv ROBOT_NAME pi_puck)" />
  <arg name="config_selection" default="" />

  <include file="launch/slam.launch">
    <arg name="robot_name" value="$(arg robot_name)" />
  </include>

  <include file="launch/nav.launch">
    <arg name="robot_name" value="$(arg robot_name)" />
    <arg name="config_selection" value="$(arg config_selection)" />
  </include>

</launch>
