<launch>
  <arg name="robot_name" default="$(optenv ROBOT_NAME pi_puck)" />
  <arg name="costmap_param_suffix" default="" />

  <include file="launch/slam.launch">
    <arg name="robot_name" value="$(arg robot_name)" />
  </include>

  <include file="launch/nav.launch">
    <arg name="robot_name" value="$(arg robot_name)" />
    <arg name="param_suffix" value="$(arg costmap_param_suffix)" />
  </include>

</launch>
