<launch>
  <arg name="robot_name" default="$(optenv ROBOT_NAME pi_puck)" />

  <include file="launch/tf_simple.launch">
      <arg name="tf_rate" value="30" />
  </include>

  <include file="launch/interop.launch" />


  <node name="slam_karto" pkg="slam_karto" type="slam_karto" output="screen">
    <remap from="$(arg robot_name)/interop/range_to_laser/combined" to="scan" />

    <param name="~odom_frame" value="$(arg robot_name)/odom" />
    <param name="~base_frame" value="$(arg robot_name)/base_link" />
    <param name="~delta" value="0.01" />
    <param name="~minimum_travel_distance" value="0.05" />
  </node>

</launch>
